<script>

var host = location.href.replace(/^http/, 'ws') + '?API_KEY={{apiKey}}';
var ws = new WebSocket(host);

//receiving messages
ws.onmessage = function (event) {
    document.getElementById('raw-responses').innerHTML += event.data + '<br>';
};

ws.onconnection = function (event) {
    ws.send('something');
};

</script>

  <section id="my-panel">

	<div class="container">
		<div class="panel-devices">
			<h1>Connected Devices</h1>

		<!-- showing devices -->
		{{#if devices }}
			<ul>
			{{#each devices}}
				<li>
					<input type="button" class="btn btn-info" id="device-{{this}}" type=button value="Device:  {{this}}" onclick="{ ws.send('{{this}}')}"> 
				</li>		
			{{/each}}
			</ul>	
		{{else}}
			<h2>No Connected Devices</h2>
		{{/if}}
		</div>

		<div class="panel-responses">
			<h1>Responses:</h1>
			<div id="raw-responses">
			</div>
		</div>
	</div>


  </section>
